.menu {
  //background-color: $color-background-menu;
  /*   padding-top: 25px;
  padding-bottom: 24px; */

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-family: "calibri", Garamond, "Comic Sans";
  margin-left: -20px;
  margin-right: -8px;

  

  @if $debug {
    border: 1px solid red;
  } @else {
    //border: 1px solid black;
  }

  &__item {
    display: inline;
    &--derecha {
      margin-left: auto;
    }
  }
  &__enlace {
    color: #99b4bb;
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }

   /*  @for $i from 1 through 5 {
      &--tamanyo-#{$i} {
        font-size: ($i * 2)+8px;
      }
    }

    @each $talla, $iSize in $tallas {
      &--tamanyo-#{$talla} {
        font-size: #{$iSize};
      }
    } */
    @each $separacion, $iSize in $separacionItemsMenu {
      &--margin-right-#{$separacion} {
        margin-right: #{$iSize};
      }
    } 
    
    margin-right: 2.7rem;
    
  }
  @for $i from 1 through 5 {
    &.menu--tamanyo-letra-#{$i} .menu__enlace {
    font-size: ($i * 2)+8px;
  }

}


    
}
