.menu {
  //background-color: $color-background-menu;
  padding-top: 25px;
  padding-bottom: 24px;
  display: flex;
  font-family: "calibri", Garamond, "Comic Sans";
  margin-left: -20px;
  margin-right: -8px;

  @if $debug {
    border: 1px solid red;
  } @else {
    //border: 1px solid black;
  }

  

  &__item {
    display:inline;
    &--derecha {
      margin-left: auto;
    }
  }
  &__enlace {
    @for $i from 1 through 5 {
      &--tamanyo-#{$i} {
        font-size: ($i * 2)+8px;
      }
    }

    @each $talla, $iSize in $tallas {
      &--tamanyo-#{$talla} {
        font-size: #{$iSize}px;
      }
    }

    
    color: #99b4bb;
    text-decoration: none;
    margin-right: 3.2rem;
    
    &:hover {
      color: #ffffff;
    }
  }
}

